<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no">
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/display.css">
		<link rel="stylesheet" href="reset.css" />
		<link rel="stylesheet" href="kaohe.css" />
	</head>
	<body>
		<div id="app">
			<el-row :gutter="0" class="h_row">
				<el-col :lg="4" :xl="8" class="h_col hidden-md-and-down">
					<div class="aside">
						<div class="head-box">
							<img class="logo" src="https://www.jdl.com/_nuxt/img/logo@2x.ca26147.png">
							<div class="head">
								<div class="subject">
									数学
								</div>
							</div>
							<div class="name">
								实训室名称实训室名称实训室名称
							</div>
							<div class="type">
								<span>管理端</span> /学生端<img src="./qiehuan.png" />
							</div>
						</div>
						<div class="menu">
							<template v-for="(item,i) in menu">
								<a class="menu_li" :class="{'active':mindex==i}" @click="select(i)" :href="item.src"
									:key="i">
									<div class="icon"></div>
									{{item.name}}
								</a>
							</template>
						</div>
					</div>
				</el-col>
				<el-col :xs="24" :sm="24" :md="24" :lg="20" :xl="16" class="h_col">
					<div class="container">
						<div class="header">
							<div class="left">
								<img class="menu hidden-lg-and-up" src="./menu.png">
								<img class="s_logo hidden-lg-and-up" src="https://www.jdl.com/favicon.ico">
								<img class="logo hidden-md-and-down"
									src="https://www.jdl.com/_nuxt/img/logo@2x.ca26147.png">
								<div class="name">
									网店运营综合实验室
								</div>
								<span class="line hidden-sm-and-down">｜</span>
								<img class="share hidden-sm-and-down" src="./share.png">
							</div>
							<div class="right">
								<div class="back hidden-sm-and-down">
									返回首页
								</div>
								<div class="message">
									<div class="box">
										<img class="icon" src="./message.png">
										<div class="num">
											{{num}}
										</div>
									</div>
									消息
								</div>
								<div class="info">
									<img class="head_pic" src="https://www.jdl.com/favicon.ico">
									<div class="info_box hidden-sm-and-down">
										<div class="info_n">
											鹿课
										</div>
										<div class="info_desc">
											京东物流教育--跨境电商<img src="https://www.jdl.com/favicon.ico">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="main">
							<div class="info">
								<img class="head_pic" src="https://www.jdl.com/favicon.ico">
								<div class="info_box">
									<div class="info_n">
										鹿课<span class="state">正常</span>
									</div>
									<div class="info_desc hidden-sm-and-down">
										实训室简介实训室简介实训室简介实训室简介实训室简介实训室简介实训室简介实训室简介
										<span class="more">更多</span>
									</div>
								</div>
							</div>
							<el-row :gutter="20">
								<el-col :xs="24" :sm="24" :md="16" :lg="18" :xl="20">
									<div class="base_data hidden-md-and-down">
										<div class="s_title">
											基本数据汇总：
										</div>
										<div class="data_box">
											<div class="data_li" v-for="(item,i) in baseData" :key="i">
												<div class="num">
													{{item.num}}
												</div>
												<div class="name">
													{{item.name}}
												</div>
											</div>
										</div>
									</div>
									<div class="lg_base_data hidden-lg-and-up">
										<div class="title">
											基本数据汇总
										</div>
										<div class="base_data">
											<div class="data_box">
												<div class="data_li" v-for="(item,i) in baseData" :key="i">
													<div class="num">
														{{item.num}}
													</div>
													<div class="name">
														{{item.name}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</el-col>
								<el-col :md="8" :lg="6" :xl="4">
									<div class="user_info hidden-md-and-down">
										<img class="user_pic" src="https://www.jdl.com/favicon.ico">
										<div class="user_box">
											<div class="username">
												鹿课
											</div>
											<div class="user_num">
												完成作业数：0
											</div>
										</div>
									</div>
									<div class="lg_user_info hidden-lg-and-up">
										<div class="title">
											个人数据
										</div>
										<div class="user_info">
											<img class="user_pic" src="https://www.jdl.com/favicon.ico">
											<div class="user_box">
												<div class="username">
													鹿课
												</div>
												<div class="user_num">
													完成作业数：0
												</div>
											</div>
										</div>
									</div>
								</el-col>
							</el-row>
							<div class="title">
								关键入口
							</div>
							<el-row :gutter="20">
								<el-col :xs="24" :sm="24" :md="16" :lg="18" :xl="20">
									<el-row :gutter="20">
										<el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6" v-for="(item, i) in entryData"
											:key="i">
											<div class="entry_li">
												<div class="photo"></div>
												<div class="title">
													{{item.title}}
												</div>
												<div class="desc">
													{{item.desc}}
												</div>
											</div>
										</el-col>
									</el-row>
								</el-col>
								<el-col :md="8" :lg="6" :xl="4">
									<div class="big_pic"></div>
								</el-col>
							</el-row>
							<div class="title">
								正在进行中对作业
								<span class="check_more">查看更多></span>
							</div>
							<el-row :gutter="20">
								<el-col :xs="24" :sm="24" :md="16" :lg="18" :xl="20">
									<div class="job_ing">
										<div class="job_li" v-for="(item,i) in jobData" :key="i">
											<div class="state_tag">
												{{item.state}}
											</div>
											<el-row :gutter="15">
												<el-col :xs="24" :sm="24" :md="8" :lg="6" :xl="4">
													<div class="job_pic"></div>
												</el-col>
												<el-col :xs="24" :sm="24" :md="16" :lg="18" :xl="20">
													<div class="job_info">
														<div class="job_name">
															{{item.name}}
														</div>
														<div class="job_desc">
															{{item.desc}}
														</div>
														<div class="time">
															发布时间：{{item.time}}
														</div>
													</div>
												</el-col>
											</el-row>
											<div class="job_btn">
												去完成
											</div>
										</div>
									</div>
								</el-col>
								<el-col :md="8" :lg="6" :xl="4">
									<div class="big_pic"></div>
								</el-col>
							</el-row>
						</div>
					</div>
				</el-col>
			</el-row>
		</div>
	</body>
	<!-- import Vue before Element -->
	<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: function() {
				return {
					mindex: 0,
					menu: [{
							name: "首页",
							src: "#"
						},
						{
							name: "作业中心",
							src: "#"
						},
						{
							name: "应用中心",
							src: "#"
						}
					],
					num: 6,
					baseData: [{
							num: 12,
							name: "实训室人数"
						},
						{
							num: 6,
							name: "应用个数"
						},
						{
							num: 2,
							name: "作业数"
						},
					],
					entryData: [{
							src: "",
							title: "作业中心",
							desc: "大量优质内容提升专业技能"
						},
						{
							src: "",
							title: "课程中心",
							desc: "大量优质内容提升专业技能"
						},
						{
							src: "",
							title: "软件中心",
							desc: "通过虚拟仿真软件提升实操能力"
						},
						{
							src: "",
							title: "批阅中心",
							desc: "批阅掌握学员对技能对掌握水平"
						},
					],
					jobData: [{
							state: "待完成",
							name: "名称名称名称名称",
							desc: "描述描述描述描述描述描述",
							time: "2023-03-23 15:00"
						},
						{
							state: "待完成",
							name: "名称名称名称名称",
							desc: "描述描述描述描述描述描述",
							time: "2023-03-23 15:00"
						},
						{
							state: "待完成",
							name: "名称名称名称名称",
							desc: "描述描述描述描述描述描述",
							time: "2023-03-23 15:00"
						}
					]
				}
			},
			created() {

			},
			methods: {
				select(i) {
					if (this.mindex == i) return;
					this.mindex = i;
				}
			}
		})
	</script>
</html>
